body {
  margin: 0;
  padding: 0;
}
.footer p {
  float: left;
  padding: 0 10px;
  font-size: 11px;
}
p a {
  text-decoration: none;
  color: white;
}
input::placeholder{
  color: #999;
  padding: 5px;
}
@keyframes backgroundAnimation {
  0% {
    background-image: url("images/img1.jpeg");
  }
  50% {
    background-image: url("images/img2.jpeg");
  }
  100% {
    background-image: url("images/img3.jpeg");
  }
}

.element-with-animated-background {
  position: relative;
  width: 100%;
  height: 600px;
  animation: backgroundAnimation 7s infinite;
  background-repeat: no-repeat;
  color: white;
}
.store-image {
  position: absolute;
  top: 45px;
  left: 20px;
}
.footer {
  position: absolute;
  bottom: 20px;
  right: 0;
  /* z-index: 20; */
  width: 100%;
  margin: 0;
  padding: 0;
}
.container {
  position: absolute;
  right: 40px;
  width: 30%;
  margin-top: 100px;
}
.bank-logo {
  position: absolute;
  top: 20px;
  right: 20px;
}
.signin-form h2 {
  color: rgb(41, 41, 126);
  font-size: 1.5em;
  font-weight: bold;
  line-height: 0.2;
}
.signin-form .form-title {
  color: black;
  font-size: 19px;
}
.form-container {
  border-top: 2px solid rgb(41, 41, 126);
  border-left: 1px solid rgb(145, 145, 145);
  border-right: 1px solid rgb(145, 145, 145);
  border-bottom: 1px solid rgb(145, 145, 145);
  padding: 40px;
  width: 70%;
}
.form-group {
  height: 60px;
}
.form-group input {
  width: 100%;
  height: 35px;
  background: rgb(223, 221, 221);
  border-radius: 5px;
  color: grey;
  font-size: 15px;
  outline: none;
  border-color: #d8d8d8;
}
